.main-bar {
  border-bottom: 2px solid rgb(255, 255, 255, 0.3);
}
.project {
  display: flex;
  gap: 1rem;
}
.tachado {
  text-decoration: line-through;
}
.contenedor-tabla {
  display: flex;
  flex-direction: column;
}

.fila-tarea {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.columna-resizable {
  flex: 1;
  overflow: hidden;
  resize: horizontal;
  min-width: 100px;
  padding: 8px;
}
