<header>
  <div>
    <div class="logo"><img alt="logo" src="assets/logofixed1.png" />eZone</div>
    <p>Dashboard</p>
  </div>
  <div>
    <p class="green">Create project</p>
    <p class="red">Repot a bug</p>
    <div class="user-box">
      <div class="circle"></div>
      <img alt="down arrow" src="assets/downArrow.svg" />
    </div>
  </div>
</header>
<nav>
  <div class="main-profile">
    <div class="circle"></div>
    <p>Angelo Sarmiento</p>
  </div>
  <ul class="profile-box">
    <li><img alt="projects" src="assets/folder.svg" />Projects</li>
    <li><img alt="chat" src="assets/chat.svg" />Chats</li>
    <li><img alt="contacts" src="assets/contacts.svg" />Contacts</li>
    <li><img alt="settings" src="assets/settings.svg" />Settings</li>
  </ul>
</nav>
